@model MVC_Attendance.Models.Attendance

@{
    // Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h4>Attendance</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label">Date</label>
                    <input type="date" asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AttendanceTime" class="control-label">Attendance Time</label>
                    <input type="time" id="AttendanceTime" asp-for="AttendanceTime" class="form-control" onchange="isGreater()" />
                    <span asp-validation-for="AttendanceTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LeavingTime" class="control-label">Leaving Time</label>
                    <input type="time" id="LeavingTime" asp-for="LeavingTime" class="form-control" onchange="isGreater()" />
                    <span asp-validation-for="LeavingTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ScheduleId" class="control-label">Schedule</label>
                    <select asp-for="ScheduleId" class="form-control" asp-items="ViewBag.ScheduleId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="UserId" class="control-label">User</label>
                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId">
                        <option value="">-- Select User --</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <script>
        function isGreater() {
            console.log("Function isGreater called");
            const attendanceTime = document.getElementById("AttendanceTime").value;
            const leavingTime = document.getElementById("LeavingTime").value;

            if (attendanceTime && leavingTime && attendanceTime > leavingTime) {
                alert("Attendance time can't be greater than leaving time");
                document.getElementById("AttendanceTime").value = "";
            }
        }
    </script>
</body>
</html>
