@model UserLoginModelView
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-cd/iDPMomxKxt82R0aP0jrVKJbweUG/C8v1iARkr8fLDY/25Hp23yVv3fMpG+uqgK5WF6A+1fXIlknVJz+Vl5A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>

    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form asp-action="Login" method="post">

                        <h3 class="text-center">ITI Exam System</h3>
                        <br />
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                            @*             <p class="lead fw-normal mb-0 me-3">Sign in with</p>


                            <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-google"></i>
                            </button> *@
                            @*   <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                            </button>

                            <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-linkedin-in"></i>
                            </button> *@
                        </div>

                        @*   <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Or</p>
                        </div> *@
                        <!-- username input -->
                        <div class="form-outline mb-4">
                            <label class="form-label">Email address</label>
                            <input asp-for="Email" class="form-control form-control-lg"
                                   placeholder="Enter email address" />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <!-- password input -->
                        <div class="form-outline mb-3">
                            <label class="form-label" for="pass">Password</label>
                            <input asp-for="Password" class="form-control form-control-lg" placeholder="Enter password" id="pass" />
                            <span asp-validation-for="Password"></span>
                        </div>

                        @*         <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                        <input class="form-check-input me-2" type="checkbox" value="" />
                        <label class="form-check-label">
                        Remember me
                        </label>
                        </div>
                        </div> *@
                        <div class="form-outline mb-3">
                            <div asp-validation-summary="All" class="text-danger"></div>

                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                Login
                            </button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">
                                Don't have an account? <a asp-action="Register" class="link-danger">Register</a>
                            </p>
                        </div>

                    </form>
                </div>
            </div>
        </div>@*
        <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
        Copyright © 2020. All rights reserved.
        </div>
        <!-- Copyright -->
        <!-- Right -->
        <div>
        <a href="#!" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
        <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
        <i class="fab fa-google"></i>
        </a>
        <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in"></i>
        </a>
        </div>
        <!-- Right -->
        </div>
        *@
    </section>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>

