@model Schedule

@{
    ViewData["Title"] = "Schedule List";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var schedules = ViewBag.schedules as List<Schedule>;
}

<h2 class="items-position">Current week schedule</h2>

<!-- Display existing schedules -->
@if (schedules != null)
{
    <div class="items-position">
        <table class="table table-bordered table-rounded text-center ">
            <thead class="bg-dark-red text-light ">
                <tr>
                    <th>Day</th>
                    <th>Date</th>
                    <th>Start Period</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var schedule in schedules)
                {
                    <tr>
                        <td>@schedule.Date.DayOfWeek</td>
                        <td>@schedule.Date</td>
                        <td>@schedule.StartPeriod</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<br />
<hr class="items-position" />
<br />

<!-- Add a new schedule -->
<div class="items-position">
    <h3>Add New Schedule</h3>
    <form method="post">
        <div class="form-group">
            <label asp-for="StartPeriod" class="control-label"></label>
            <input type="time" asp-for="StartPeriod" class="form-control" />
            <span asp-validation-for="StartPeriod" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Date" class="control-label"></label>
            <input type="date" asp-for="Date" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn bg-dark-red text-white" />
        </div>
    </form>
</div>
